@import "src/assets/styles/root";

$primary-color: #94a3b8;

.#{$prefix}-select-container {
  width: 100%;
  max-width: 500px;
  position: relative;
}

.#{$prefix}-select {
  padding: 4px;
  border: 1px solid $primary-color;
  border-radius: 12px;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;

  &:focus-within {
    box-shadow: 0 0 0 2px lighten($primary-color, 20%);
  }

  &__selected {
    flex: 1;
    display: flex;
    gap: 4px;
    flex-wrap: wrap;

    &__item {
      padding: 4px 8px;
      background-color: #e2e8f0;
      width: fit-content;
      border-radius: 8px;
      display: flex;
      gap: 4px;
      align-items: center;

      &__remove {
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $primary-color;
        width: 20px;
        height: 20px;
        border-radius: 4px;
        cursor: pointer;

        &:hover {
          background-color: darken($primary-color, 10%);
        }

        svg {
          flex-shrink: 0;
        }
      }
    }

    &__input {
      border: none;
      outline: none;
      background-color: transparent;
      flex: 1;
      padding: 4px;

      &::placeholder {
        color: #a0aec0;
      }
    }
  }

  &__options {
    width: 100%;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.2s;
    max-height: 0;

    &-active {
      border: 1px solid $primary-color;
      border-radius: 12px;
      margin-top: 4px;
      max-height: 300px;
      opacity: 1;
      overflow-y: auto;
    }

    &__item {
      padding: 6px;
      cursor: pointer;
      transition: background-color 0.2s;
      border-bottom: 1px solid $primary-color;
      display: flex;
      gap: 4px;

      & > label, & > div {
        flex: 1;
      }

      &:last-child {
        border-bottom: none;
      }

      &:hover, &-active {
        background-color: #e2e8f0;
      }
    }

    &__empty {
      padding: 12px;
      text-align: center;
      color: #a0aec0;
    }
  }
}
