.character-card {
  display: flex;
  gap: 8px;
  align-items: center;
  color: #475569;

  &__image {
    border-radius: 12px;
    overflow: hidden;
    width: 48px;
    height: 48px;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
}