@import 'reset';
@import 'variables';
@import 'charactercard';

* {
  font-family: 'Roboto', sans-serif;
}


main {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 24px;
}

.error {
  color: red;
  font-size: 24px;
  text-align: center;
  margin-top: 24px;
}
